doctype html
head
  style 
    include ../stylesheets/style.css
  meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title= title
  script 
    include ../utils/pomodoro.js
.body-container
  .dashboard
    .dashboard.card
      .card.data 0
      .card.title Completed tasks
    .dashboard.card
      #countDown.card.data 0
      .card.title Estimated focus time (min)
  form(action='').tasks-list.form
    .tasks-list.item
      input.tasks-list.item.input(type='text' placeholder='Task name')
      .action-container 
        input.pomodoro-button(type='button' value='Start' onclick='startPomodoro()')
        input.pomodoro-button(type='button' value='Pause' onclick='pausePomodoro()')
        input.pomodoro-button(type='button' value='Finish' onclick='resetPomodoro()')
    .add-list-container
      input.add-list-button(type='button' value='+' )
      
